@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'BitcountPropSingle_Cursive', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'BitcountPropSingle_Cursive_Medium';
  src: url('/fonts/BitcountPropSingle_Cursive-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'BitcountPropSingle_Cursive_Regular';
  src: url('/fonts/BitcountPropSingle_Cursive-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BitcountPropSingle_Cursive_SemiBold';
  src: url('/fonts/BitcountPropSingle_Cursive-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'BitcountPropSingle_SemiBold';
  src: url('/fonts/BitcountPropSingle-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-32px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}
